<section class="mytabs_area p_120">
    <div class="container">
        <div class="tabs_inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="experiences-tab" data-toggle="tab" href="#experiences" role="tab"
                        aria-controls="experiences" aria-selected="true">
                        Experiences
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab"
                        aria-controls="education" aria-selected="false">
                        Education
                    </a>
                </li> -->
            </ul>
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="experiences" role="tabpanel" aria-labelledby="experiences-tab">
                    <ul class="list">
                        <li *ngFor="let item of experiences">
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>{{item.date}}</p>
                                </div>

                                <div class="media-body pl-5">
                                    <h4>
                                        {{item.work}}
                                    </h4>
                                    <p>
                                        <small>{{item.name}}</small>
                                        <br>
                                        {{item.description}}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                    <ul class="list">
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>March 2017 to present</p>
                                </div>
                                <div class="media-body">
                                    <h4>Test</h4>
                                    <p>Senior Web Developer <br>Santa monica, Los angeles</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</section>