<section class="home_gallery_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Projects</h2>
            <p>Software that I developed in my life</p>
        </div>

        <!-- <div class="isotope_fillter">
            <ul class="gallery_filter list">
                <li class="active" data-filter="*"><a href="#">All</a></li>
                <li data-filter=".brand"><a href="#">Vector</a></li>
                <li data-filter=".manipul"><a href="#">Raster</a></li>
                <li data-filter=".creative"><a href="#">UI/UX</a></li>
                <li data-filter=".design"><a href="#">Printing</a></li>
            </ul>
        </div> -->
    </div>

    <div class="container">
        <div class="row">
            <div *ngFor="let item of projects" class="col-lg-4 col-md-4 col-sm-6" (click)="viewProject(item)">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="{{item.img}}" />
                    </div>

                    <div class="g_item_text">
                        <h4>{{item.project}}</h4>
                        <p>{{item.info}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="more_btn">
            <a class="main_btn" href="#">Load More Items</a>
        </div> -->
    </div>
</section>