<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <a class="navbar-brand logo_h" href="index.html"><img src="assets/images/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:void(0)">
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex">
                        <img src="/assets/images/juliopoveda.jpg" class="rounded" alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hi everyone, i am</h6>
                            <h3>Julio Poveda</h3>
                            <h4>Senior .NET Developer</h4>
                            <p>Its nice to see you here! ... but my portfolio is on progress.</p>
                            <ul class="list basic_info">
                                <li><a href="#"><i class="lnr lnr-calendar-full"></i> 20th July, 1992</a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> contacto@juliopoveda.com</a></li>
                                <li><a href="#"><i class="lnr lnr-home"></i> Medellín, Colombia</a></li>
                            </ul>
                            <ul class="list personal_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-about-me-home></app-about-me-home>
<app-tree-experiences></app-tree-experiences>
<app-services-home></app-services-home>
<app-projects-home></app-projects-home>

<app-main-footer></app-main-footer>